.integration-section{
    background-color: rgb(28, 28, 28);
    width: 100%;
    padding-top: 100px;
    color: white;
}
.integration-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.integration{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 40%;
}
.integration .heading{
    font-size: 50px;
    font-weight: 600;
    margin: 10px 0;
}
.integration .sub-heading{
    font-weight: 500;
    font-size: 20px;
    color: grey;
    max-width: 70%;
}
.integration img{
    padding-top: 50px ;
    width: 100%;
    object-fit: contain;
}

@media (max-width: 650px) {
    .integration-section{
        padding-top: 20px;
    }
    .integration .heading{
        font-size: 35px;
    }
    .integration .sub-heading{
        font-size: 20px;
        max-width: 100%;
    }
    .integration{
        width: 80%;
    }
}