.cta-section{
    background: linear-gradient(to bottom, rgb(253, 242, 236) 0,  rgb(255, 255, 255) 100%);    
}

.cta {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cta .heading{
    margin: 15px;
    text-align: center;
    font-weight: 600;
    font-size: 70px;
    max-width: 70%;

}
.cta .sub-heading{
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    color: grey;
    max-width: 50%;
}
.cta .buttons-container{
    display: flex;
}
.buttons-container .b1, .b2{
    margin: 15px;
    box-sizing: border-box;
    padding: 13px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    width: 200px;
    height: 50px;
    border: 1px solid grey;
    border-radius: 15px;
    cursor: pointer;
}
.buttons-container .b1{
    color: white;
    background-color: rgb(130, 71, 255);
}
.cta .img{
    width: 80%;
    margin: 50px;
}